.que {
    width: 189;
    height: 34;
    left: 828;
    gap: 8px;
    width: 10;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
}